<div class="reg" style="margin:0 auto;">
<%# show the orders with ordering time %>
<table style="margin:0 auto;">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Title</th>
      <th>Seller</th>
      <th>Price</th>
      <th>Order Time</th>
    </tr>
  </thead>
  <tbody>
<% @bought_items.each do |i| %>
      <tr>
        <td><%= image_tag(Product.find(i.product_id).picture, height: "150") %>
        <td><%= Product.find(i.product_id).title %></td>
        <td><%= User.find(i.seller_id).username %></td>
        <td><%= Product.find(i.product_id).price %></td>
        <td><%= i.created_at %></td>  
      </tr>
<% end %>
</tbody>
</table>
</div>


