<% if user_signed_in? %>
<%= render 'shared/cart' %>
<% end %>
<div class="reg" style="margin:0 auto;">


<table style="margin:0 auto;">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Title</th>
      <th>Description</th>
      <th>Seller</th>
      <th>Sold</th>
      <th>Price</th>
      <th>Category</th>
      <th>Sort</th>
      <th></th>

    </tr>
  </thead>
<%# select one category and show all the products belongs to this category %>
  <tbody>
    <% @find_products_per_page.each do |product| %>
    <tr>
      <td style="text-align:center;text-decoration: none;"><%= link_to image_tag(product.picture, height: "150"), product %>
        <br></td>
      <td><%= link_to product.title, product, style:"color:#fff;text-decoration: none;color:#32CCCC;" %></td>
      <td><%= product.description %></td>
      <td><%= product.user.username %></td>
      <% if product.sold == false %>
      <td>Not yet</td>
      <% else %>
      <td>Sold</td>
      <% end %>
      <td><%= product.price %></td>
      <td><%= product.category.category %></td>
      <td><%= product.sort.sort %></td>
<td>
        <% if !user_signed_in? %>
        <%= link_to "Sign in to buy", new_user_session_path, style:"color:#32CCCC;text-decoration: none;" %>
        <% end %>

        
        <% if user_signed_in? %>
        <% already_add_to_cart = CartProduct.find_by(cart_id: @current_cart.id, product_id: product.id) %>
        <% if already_add_to_cart == nil %>
        <% if product.sold == true && current_user.id != product.user_id %>
        Already Sold
        <% elsif current_user.id == product.user_id %>
        This is your product
        <% else %>
        <div class="page-wrapper">
          <%= button_to cart_products_path(:product_id => product.id), id:"addtocart", style:"color:#32CCCC;text-decoration: none;" do %>
          <%= "Add to cart" %>
          <span class="cart-item"></span>
          <% end %>
        
        </div>
        <% end %>
        <% else %>
        Already Added To Cart
        <% end %>
        <% end %>
      </td>
    </tr>

    <% end %>
  </tbody>
</table>

<br>
<% if @page > 0 %>
<%= link_to "Previous Page", products_path(page: @page - 1), style:"color:#32CCCC;text-decoration: none;" %>
<% end %>
<% if @page < @find_products_by_category.length / 5  %>
<%= link_to "Next Page", products_path(page: @page + 1), style:"color:#32CCCC;text-decoration: none;" %>
<% end %>


</div>