<div class="reg" style="margin:0 auto;">

<h1>myShop</h1>
<%= link_to 'I want to sell something', new_product_path, style:"color:#32CCCC;font-size:1.2em;" %>

<table style="margin:0 auto;">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th>Sold</th>
      <th>Price</th>
      <th>Category</th>
      <th>Sort</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% Product.where(user_id: current_user.id).each do |product| %>
  <tbody>
      <tr>
        <td><%= image_tag(product.picture, height: "150") %></td>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.user.username %></td>
        <% if product.sold == false %>
          <td>Not yet</td>
        <% else %>
          <td>Sold</td>
        <% end %>
        <td><%= product.price %></td>
        <td><%= product.category.category %></td>
        <td><%= product.sort.sort %></td>
        <td><%= link_to 'Show', product, style:"color:#32CCCC" %></td>
        <td><%= link_to 'Edit', edit_product_path(product), style:"color:#32CCCC" %></td>
        <td><%= link_to 'Delete', product, style:"color:#32CCCC", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    
  </tbody>

<% end %>
</table>
</div>